<app-user-nav></app-user-nav>
<br />
<div class="ticker-list">
  <ul>
    <li><b>BTC/INR:</b> 7,02,000.00</li>
    <li>|</li>
    <li><b> ETH/INR:</b> 62,151.00</li>
    <li><b> XRP/INR:</b> 73.27</li> 
    <li><b>LTC/INR:</b> 14,665.00</li> 
    <li><b>BCH/INR:</b> 99,900.00</li> 
    <li><b>GNT/INR:</b> 27.45</li> 
    <li><b>MIOTA/INR:</b> 133.31</li>
    <li><b>OMG/INR:</b> 1,076.27</li>
  </ul>   
</div>
<div class="container-fluid">
  <div class="row" style="background-color: #273548; padding:10px;">
    <div class="col-sm-4 credentials-form buy-section">
      <h4 align="center">Buy</h4>
      <div>
        <div>
          <input type="number" placeholder="amount BTC" [(ngModel)]= "buyAmount"  (keyup)="onKey($event,'buy')" />
        </div>
        <div>
          <input type="number" placeholder="price/BTC" [(ngModel)]= "buyPricePerBTC" (keyup)="onKey($event,'buy')" />
        </div>
        <div>
          <span>{{buyErrorLabel}}</span>
        </div>
        <div>
          <span class="trade-pricing">Rs. {{buyTotalValue}}</span>
          <input class="signup-btn" type="button" value="Buy" (click)="openModal(BuySellTemplate,'buy')" />          
        </div>
      </div>
    </div>
    <div class="col-sm-4 credentials-form sell-section">
      <h4 align="center">Sell</h4>
      <div>
        <div>
          <input type="number" placeholder="amount BTC" [(ngModel)]= "sellAmount" (keyup)="onKey($event,'sell')" />
        </div>
        <div>
          <input type="number" placeholder="price/BTC"  [(ngModel)]= "sellPricePerBTC" (keyup)="onKey($event,'sell')" />
        </div>
        <div>
          <span class="trade-pricing">Rs. {{sellTotalValue}}</span>
          <input class="signup-btn" type="button" value="Sell" (click)="openModal(BuySellTemplate,'sell')" />          
        </div>
      </div>
    </div>
    <div class="col-sm-4 credentials-form pending-section">
      <h4 align="center">Pending Orders</h4>
      <div>
        <div style="min-height:97px;">
          <div>Buy Orders</div>
          <div *ngFor="let trade of userBuyOrders">
            <div class="row" *ngIf="trade.userID == userId" >            
              <div class="col-xs-4 col-mod-5">{{trade.amount}} BTC</div>
              <div class="col-xs-4 col-mod-5" style="text-align:center;"> {{trade.price}}</div>
              <div class="col-xs-4 col-mod-5" style="text-align:right;" (click)="cancelOrder(trade, 'buy')"> cancel</div>
            </div>
          </div>
          <div>Sell Orders</div>
          <div *ngFor="let trade of userSellOrders">
            <div class="row" *ngIf="trade.userID == userId">
              <div class="col-xs-4 col-mod-5">{{trade.amount}} BTC</div>
              <div class="col-xs-4 col-mod-5" style="text-align:center;"> {{trade.price}}</div>
              <div class="col-xs-4 col-mod-5" style="text-align:right;" (click)="cancelOrder(trade, 'sell')"> cancel</div>
            </div>
          </div>
        </div>
        <div>
          <span class="trade-pricing">Rs. 19000</span>
          <span class="inr-balance">2.0 BTC</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row trading-details">
    <div class="col-xs-6 col-sm-3 buy-section-ticker">
      <h5>Buy Orders</h5>
      <table style="width:100%">
        <thead>
          <tr>
            <th style="width:50%">Volume</th>
            <th style="width:50%">INR/BTC</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trade of tickerAPISorted.buyOrders; let i = index;" [ngClass]="{'tr-odd':(i%2 != 0)}">
            <td style="width:50%">{{trade.amount}}</td>
            <td style="width:50%">{{trade.price}}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="tickerAPIResults.buyOrders.length == 0" class="no-trade-data">No data to show</div>
    </div>
    <div class="col-xs-6 col-sm-3 sell-section-ticker">
      <h5>Sell Orders</h5>
      <table style="width:100%">
        <thead>
          <tr>
            <th style="width:50%">Volume</th>
            <th style="width:50%">INR/BTC</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trade of tickerAPISorted.sellOrders; let i = index" [ngClass]="{'tr-odd':(i%2 != 0)}">
            <td style="width:50%">{{trade.amount}}</td>
            <td style="width:50%">{{trade.price}}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="tickerAPIResults.sellOrders.length == 0" class="no-trade-data">No data to show</div>
    </div>
    <div class="col-xs-6 col-sm-3 market-trade-ticker">
      <h5>Market Trade History </h5>
      <table style="width:100%">
        <thead>
          <tr>
            <th style="width:50%">Volume</th>
            <th style="width:50%">INR/BTC</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trade of tickerAPIResults.tradingHistory; let i = index" [ngClass]="{'tr-odd':(i%2 != 0)}">
            <td style="width:50%">{{trade.amount}}</td>
            <td style="width:50%">{{trade.price}}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="tickerAPIResults.tradingHistory.length == 0" class="no-trade-data">No data to show</div>
    </div>
    <div class="col-xs-6 col-sm-3 your-trade-ticker">
      <h5>Your Trade History</h5>
      <table style="width:100%">
        <thead>
          <tr>
            <th style="width:50%">Volume</th>
            <th style="width:50%">INR/BTC</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trade of tradingHistory; let i = index" [ngClass]="{'tr-odd':(i%2 != 0)}">
            <td style="width:50%"><span style="text-transform:capitalize">{{trade.TxtnType}}</span> <span>{{trade.Amount}}</span></td>
            <td style="width:50%">{{trade.Price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #BuySellTemplate>
  <div class="modal-header">
    <h3 class="modal-title pull-left">{{TradeTitle}}</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div style="padding:15px;">
    <div class="credentials-form">
      <div *ngIf="buy">
        <div>
          <div class="row order-popup-row">
            <div class="col-xs-4">COIN</div>
            <div class="col-xs-8">{{coin}}</div>
          </div>
          <div class="row order-popup-row">
            <div class="col-xs-4">VOLUME</div>
            <div class="col-xs-8">{{amount}}</div>
          </div>
          <div class="row order-popup-row">
            <div class="col-xs-4">BID(Price/BTC)</div>
            <div class="col-xs-8">{{perBtc}}</div>
          </div>
          <div class="row order-popup-row">
            <div class="col-xs-4">TOTAL</div>
            <div class="col-xs-8">{{buyTotalValue}}</div>
          </div>
        </div>
        <input class="signup-btn" type="button" value="CONFIRM" (click)="buyBTC()" />
      </div>
      <div *ngIf="sell">
        <div>
          <div class="row order-popup-row">
            <div class="col-xs-4">COIN</div>
            <div class="col-xs-8">{{coin}}</div>
          </div>
          <div class="row order-popup-row">
            <div class="col-xs-4">VOLUME</div>
            <div class="col-xs-8">{{sellBindAmount}}</div>
          </div>
          <div class="row order-popup-row">
            <div class="col-xs-4">BID(Price/BTC)</div>
            <div class="col-xs-8">{{sellBindperBtc}}</div>
          </div>
          <div class="row order-popup-row">
            <div class="col-xs-4">TOTAL</div>
            <div class="col-xs-8">{{sellTotalValue}}</div>
          </div>
        </div>
        <input class="signup-btn" type="button" value="CONFIRM" (click)="sellBTC()" />
      </div>
    </div>
  </div>
</ng-template>

<ng-template #ConfirmMessage>
  <div class="modal-header">
    <h3 class="modal-title pull-left"></h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
 <!-- <div id="loader" *ngIf="withdrawINRStatus ==1" style="height: 100px">
          Loading...
  </div>
  <div id="result" *ngIf="withdrawINRStatus ==2" style="height: 100px; margin:30px">
          <div *ngIf="INRResult">
                  <img src="../../assets/images/checked.png" height="30" width="30">
                  <span>SUCCESS</span>
                  </div>  
                  <br/>
                  <div *ngIf="!INRResult">
                  <img src="../../assets/images/error.png" height="30" width="30">
                  <span>FAIL</span>
                  </div> 
  </div>  -->
</ng-template>
