<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="navbar-header">   

    <a class="navbar-brand" href="#">CyptoDesk</a>
    
  </div>
  <a class="nav-sign-in" (click)="openModal(template)">Sign In</a>
</nav>
<div class="home-top-div">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="main-left">
          <h1>The Most Trusted Digital Asset Exchange In India</h1>

          <p>CyptoDesk is India's market leader in Cryptocurrency landscape. We provide the simplest and trusted platform to trade, store,
          use and accept cryptocurrencies like Bitcoin, Ethereum,Litecoin, Bitcoin Cash etc. With over 1,50,000+ customers
          that vouch for the ease with which BuyUcoin enables cryptocurrency activities, we are on a mission "To bring cryptocurrency
          in a million pockets."</p>
        </div>
      </div>
      <form #form="ngForm" (ngSubmit) = "userRegistration(form.value, ConfirmTemplate)" novalidate>
      <div class="col-md-4">
        <div class="credentials-form">
          
          <h3>Create an account to start trading</h3>
      
            <div>
              <input #fnam="ngModel" required name="fname" autocomplete="off" type="text" placeholder="First Name"  [(ngModel)]="UserData.FirstName" />
            </div>
           
              <div *ngIf="fnam.errors?.required" class="errorMsg">
                  First name is required
              </div>
          
            <div>
              <input type="text" placeholder="Last Name" autocomplete="off" required name="lname" #lname="ngModel" [(ngModel)]="UserData.LastName" />
            </div>
          
                <div *ngIf="lname.errors?.required" class="errorMsg">
                    Last name is required
                </div>
             
            <div>
              <input type="email" #email="ngModel" required autocomplete="off" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Email" [(ngModel)]="UserData.Email"  />
            </div>
           
                <div *ngIf="email.errors?.required" class="errorMsg">
                    Please enter a email
                </div>
                <div *ngIf="email.errors && (email.dirty || email.touched)">
                <div [hidden]="!email.errors.pattern" class="errorMsg">
                    Please enter valid email id
                </div>
              </div>
            <div>
              <input type="password" #passwrd="ngModel" autocomplete="off" placeholder="Password" required name="password" minlength="8" [(ngModel)]="UserData.Password" />
            </div>
            
                <div *ngIf="passwrd.errors?.required" class="errorMsg">
                    Please enter a password
                </div>
                <div *ngIf="passwrd.errors && (passwrd.dirty || passwrd.touched)">
                <div [hidden]="!passwrd.errors.minlength" class="errorMsg">
                    Please enter atleast 8 characters
                </div>
              </div>
            <div>
              <input type="number" placeholder="MobileNumber" autocomplete="off" name="mobile" required [(ngModel)]="UserData.MobileNumber" #mob="ngModel" maxlength="10" />
            </div>
         
                <div *ngIf="mob.errors?.required" class="errorMsg">
                    Please enter a mobile number
                </div>
            
              <div *ngIf="signErrorFlag" > 
                <label class="errorMsg"> {{signErrorLabel}}</label>
              </div>
            <div>
              <input class="signup-btn" type="submit" value="{{signUpButtonText}}" />
            </div>
        </div>
      </div>
    </form>
    </div>
  </div>
<div>


<ng-template #template>
 
  <div class="modal-header">
    <h3 class="modal-title pull-left">Sign In</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div style="padding:15px;">
    <div class="credentials-form">
        <form #frmSignIn="ngForm" (ngSubmit)="Login(LoginData)" novalidate>
      <div>
        <input type="email" #emailId="ngModel" required autocomplete="off" name="emai" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Email" [(ngModel)]="LoginData.Email" />
      </div>
      <div *ngIf="emailId.errors && (emailId.dirty || emailId.touched)">
          <div [hidden]="!emailId.errors.required" class="errorMsg">
              Please enter a email
          </div>
          <div [hidden]="!emailId.errors.pattern" class="errorMsg">
              Please enter valid email id
          </div>
        </div><br />
      <input type="password" placeholder="Password" name="password" autocomplete="off" [(ngModel)]="LoginData.Password" />
      <br />
      <div *ngIf="loginBool">
       <label class="errorMsg">{{loginLabel}}</label>
      </div>
      <!-- <a style="float:right;margin-right:15px;" (click)="forgetPassword()">Forget Password?</a><br /> -->
      <input class="signup-btn" type="submit" value="{{signInButtonText}}" />
    </form>
    </div>
  </div>

</ng-template>

<!-- Confirmation pop-up after sign-up -->
<ng-template #ConfirmTemplate>
    <div class="modal-header">
      <h3 class="modal-title pull-left">{{signUpPopUpTitle}}</h3>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
       {{signUpPopUpMsg}}
    </div>
    <div style="padding:15px;">
      <div class="credentials-form">
          <input type="button" class="signup-btn" (click)="confirm()" value="Ok" />
      </div>
    </div>
  </ng-template>

